.jumbotron {
  background-color: #d10404;
  color: black;
  margin-top: 50px; }

.footer {
  padding: 10px 10px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #d10404; }

.card-paginas {
  flex: 150px;
  padding: 2px 5px 2px 5px; }

.btn-reserva {
  width: 100%;
  margin-top: 5px; }

.footer-address-icon {
  padding-right: 10px; }

.card-inicio {
  flex: 160px;
  padding: 3px 6px 3px 6px; }

table {
  margin-top: 10px; }

.d-block {
  height: 290px;
  background-color: #0283ED;
  margin-bottom: 10px; }

.fluid-img {
  background-color: #0b07f2;
  height: 290px;
  width: 100%; }

.tab-content {
  padding-top: 10px; }

.container {
  margin-bottom: 30px; }
